<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img
        src="assets/profile-photo.jpg"
        class="img-fluid rounded-circle"
        alt="Profile Photo"
      />
    </div>
    <div class="col-md-8">
      <h3>Profile</h3>
      <label>
        I’m {{ profileList?.firstName && profileList?.lastName }} and I'm above
        {{ profileList?.age }} years and you can send your emails to
        <a href="mailto:caroline.kassidy@publicis.com">{{
          profileList?.email
        }}</a
        >. I live in the state of {{ profileList?.state }}. I like to play
        hockey, football, and reading books. And please send me newsletters.
        Please reach out to me on my phone number
        {{ profileList?.phoneNumber }}.
      </label>
    </div>
  </div>
</div>
