<div class="container mt-5 custom-background">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="profileList.profileImgae">
        <img [src]="profileList.profileImgae" alt="Selected Image" />
      </div>
    </div>
    <div class="col-md-8">
      <h3>Profile</h3>
      <label>
        I’m {{ profileList?.firstName && profileList?.lastName }} and I'm above
        {{ profileList?.age }} years and you can send your emails to
        <a href="mailto:caroline.kassidy@publicis.com">{{
          profileList?.email
        }}</a
        >. I live in the {{ profileList?.state_name }} of {{ profileList?.country_name }}.
        I like to play {{ profileList?.tag }} and reading books. And please send
        me newsletters. Please reach out to me on my phone number
        {{ profileList?.phoneNumber }}.
      </label>
    </div>
  </div>
</div>
