<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <header>
    <div class="container">
      <div class="logo"></div>
      <nav>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Employers</a></li>
          <li><a (click)="login">LOGIN</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="hero">
        <h1>We're Leaders in Creative Digital Recruitment</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        <button>Learn More</button>
      </div>
      <div class="search">
        <input type="text" placeholder="Enter a Job Description">
        <button type="submit">Search</button>
      </div>
    </div>
    <button (click)="onModalOpen()">Registration</button>
  </main>

</body>
</html>



  

      <ng-template #modalOpen>
<h2>test</h2>
      </ng-template>
    


