<div class="container">
  <header>
    <nav>
      <div class="logo">DEMO</div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Employers</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <section class="search-section">
    <button
      type="button"
      class="btn btn-primary me-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Register
    </button>
    <button
      type="button"
      class="btn btn-primary me-2"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="goTo()"
    >
      User Profile
    </button>
  </section>

  <section class="intro-section">
    <h2>We're leaders in</h2>
    <h3>Creative Digital Recruitment</h3>
    <p>
      Based in Surry Hills, the creative hub of Sydney we are surrounded by
      creativity and that reflects on the type of jobs we recruit for.
    </p>
    <button class="about-button">Find out more about us!</button>
  </section>
</div>

<app-register></app-register>


