<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register Form</h1>
        <button
          type="button"
          class="btn-close reg"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group mb-3">
            <div class="col-lg-6 col-md-6 col-12 d-flex mb-4">
              <div class="upload-btn-cls-adding">
                <label for="fileInput" class="custom-file-upload mb-0 btn-dark">
                  Upload a Profile
                  <input
                    id="fileInput"
                    type="file"
                    (change)="handleFileSelect($event)"
                    accept="image/png, image/jpg, image/jpeg"
                    class="file-inputs"
                  />
                  <img
                    src="../../assets/—Pngtree—file upload icon_4646955.png"
                    alt="upload"
                    class="upload img-fluid"
                  />
                </label>
                <div *ngIf="base64Image">
                  <img
                    [src]="base64Image"
                    alt="Selected Image"
                    class="img-fluid"
                  />
                </div>
              </div>

              <div *ngIf="!base64Image && isSubmitted" class="text-danger">
                Profile Image is required
              </div>
            </div>

            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
            />
            <div
              *ngIf="
                (registerForm.get('firstName').touched || isSubmitted) &&
                registerForm.get('firstName').invalid
              "
              class="text-danger"
            >
              Please Enter First Name
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
            />
            <div
              *ngIf="
                (registerForm.get('lastName').touched || isSubmitted) &&
                registerForm.get('lastName').invalid
              "
              class="text-danger"
            >
              Please Enter Last Name
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <div
              *ngIf="
                (registerForm.get('email').touched || isSubmitted) &&
                registerForm.get('email').invalid
              "
              class="text-danger"
            >
              Please Enter Valid Email
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="phone">Phone</label>
            <input
              type="number"
              id="phone"
              formControlName="phone"
              class="form-control"
            />
            <div
              *ngIf="
                (registerForm.get('phone').touched || isSubmitted) &&
                registerForm.get('phone').invalid
              "
              class="text-danger"
            >
              Please Enter Phone number
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="age">Age</label>
            <input
              type="range"
              id="age"
              formControlName="age"
              min="20"
              max="60"
              class="form-range"
            />
            <div
              *ngIf="
                (registerForm.get('age').touched || isSubmitted) &&
                registerForm.get('age').invalid
              "
              class="text-danger"
            >
              Please Enter Age between 20 and 60
            </div>
            <div>Selected Age: {{ registerForm.value["age"] }}</div>
          </div>
          <div class="form-group mb-3">
            <label for="country">Select Country :</label>
            <select
              class="form-select"
              formControlName="country"
              id="country"
              (change)="getstates($event)"
            >
              <option
                *ngFor="let country of countriesList"
                [value]="country.id"
              >
                {{ country.country_name }}
              </option>
            </select>

            <div
              *ngIf="
                (registerForm.get('country').touched || isSubmitted) &&
                registerForm.get('country').invalid
              "
              class="text-danger"
            >
              Please Select Country
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="state">Select State :</label>
            <select formControlName="state" id="state" class="form-select">
              <option *ngFor="let states of statesList" [value]="states.id">
                {{ states.state_name }}
              </option>
            </select>

            <div
              *ngIf="
                (registerForm.get('state').touched || isSubmitted) &&
                registerForm.get('state').invalid
              "
              class="text-danger"
            >
              Please Select State
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="address">Address</label>

            <textarea
              id="address"
              formControlName="address"
              class="form-control"
            ></textarea>
            <div
              *ngIf="
                (registerForm.get('address').touched || isSubmitted) &&
                registerForm.get('address').invalid
              "
              class="text-danger"
            >
              Please Enter Address
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="tags">Tags</label>
            <div class="tags-input">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control me-2"
                  placeholder="Add a tag"
                  formControlName="tagInput"
                  (keydown.enter)="addTag()"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary me-2"
                    type="button"
                    (click)="addTag()"
                  >
                    Add Tag
                  </button>
                </div>
              </div>
              <div *ngFor="let tag of tags" class="tag badge badge-primary">
                {{ tag }}
                <span (click)="removeTag(tag)" class="tag-remove">&times;</span>
              </div>
            </div>
            <div
              *ngIf="
                (registerForm.get('tagInput').touched || isSubmitted) &&
                registerForm.get('tagInput').invalid
              "
              class="text-danger"
            >
              Please Add Tag
            </div>
          </div>

          <div class="form-group form-check mb-3">
            <input
              type="checkbox"
              id="newsletter"
              formControlName="newsletter"
              class="form-check-input"
            />
            <label for="newsletter" class="form-check-label"
              >Subscribe to newsletter</label
            >
            <div
              *ngIf="
                (registerForm.get('newsletter').touched || isSubmitted) &&
                registerForm.get('newsletter').invalid
              "
              class="text-danger"
            >
              Please Subscribe to newsletter
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
